fastapi[standard]>=0.115.0
uvicorn[standard]>=0.30.0
pydantic>=2.0.0
torch>=2.0.0
torchvision>=0.15.0
pyyaml>=6.0.2
textual>=0.45.0
pycocotools>=2.0.4
scikit-learn>=1.5.2
scikit-multilearn
psutil
ultralytics>=8.0.0
thop>=0.1.1 
scipy